*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

i, svg {
    pointer-events: none;
}

.kick-pad, .snare-pad, .hihat-pad {
width: 5rem;
height: 5rem;
margin: 1rem 0.5rem;
cursor: pointer;

}

.kick-pad{
    background: rgb(160, 211, 224);
}
.snare-pad{
    background: rgb(224, 160, 208);
}
.hihat-pad{
    background: rgba(223, 145, 50, 0.377);
}

.kick-track,.snare-track, .hihat-track {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
}

.kick,.snare, .hihat {
    display: flex;
}

.sequencer {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.controls {
    width: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 0rem 2rem;
}

.controls button {
    padding: 1rem;
    border: none;
    background: rgb(88, 88, 88);
    color: white;
    cursor: pointer;
    transition: all 0.5s ease;
}

.pad {
    transition: all 0.5s ease
}

.pad.kick-pad.active {
    background: rgb(13, 141, 173);
}
.pad.snare-pad.active {
    background: rgb(175, 20, 136);
}
.pad.hihat-pad.active {
    background: rgba(255, 140, 0, 0.877);
}

.play {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background: rgb(88, 88, 88);
    color: white;
    cursor: pointer;
    border-radius: .5rem;
    margin-top: 2rem;
}

.container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes playTrack {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}
